[Unit]
Description=Open WebUI
After=llama-cpp-main.service
Wants=llama-cpp-main.service

[Container]
ContainerName=systemd-open-webui
Image=ghcr.io/open-webui/open-webui:v0.11.3
Network=ai.network
PublishPort=0.0.0.0:3100:8080/tcp
Volume=open-webui-data:/app/backend/data
EnvironmentFile=%h/.config/containers/config/open-webui/service.env

[Service]
Restart=on-failure
RestartSec=10
TimeoutStartSec=900

[Install]
WantedBy=default.target